.margin-top {
    margin-top: 1em !important; /* Adjust the value as needed */
  }

  .custom-textarea {
    height: 50px !important; /* Adjust the height value as needed */
  }
  .search-box {
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }

  .light-green-button {
    background-color: #43b647!important; /* Light green color */
    color: black!important;
  }
  
  .light-green-button:hover {
    background-color: #08d108!important; /* Slightly darker light green color for hover effect */
  }
  
  .light-red-button {
    background-color:rgba(255, 0, 0, 0.6)!important; /* Light green color */
    color: black!important;
  }
  
  .light-red-button:hover {
    background-color: #f7503a!important; /* Slightly darker light green color for hover effect */
  }